<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/public/style-login.css">
    <style>
        body {
            background-color: #A11213;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #ffffff;
            margin-top: 50px;
        }

        form {
            width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        div {
            margin: 30px;
        }

        label {
            display: block;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
            font-size: 16px;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
        }

        a {
            color: #ffffff;
        }
        a:hover{
            color: gold;
        }
    </style>

</head>


<body>
    <h1>Login</h1>
    <% if (error) { %>
        <p>
            <%= error %>
        </p>
        <% } %>
            <form action="/login" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                </div>
                <button type="submit">Log in</button>
            </form>
            <!-- <p style="text-align: center; color: #fff;">Don't have an account? <a href="/signup" style="text-decoration: none;">Sign
                    up</a></p> -->
</body>

</html>